# https://pip.pypa.io/en/stable/reference/pip_install/#git
# https://pip.pypa.io/en/latest/reference/pip_install/#requirements-file-format
# atlassian-python-api==1.15.9
[-e] git+git://github.com/atlassian-api/atlassian-python-api.git@5b860b4
mistune==2.0.0a4
pickleDB==0.9.2
Pygments==2.6.1
